[Unit]
Description="greyhouseapi"

[Service]
WorkingDirectory=/home/ubuntu/grey.house/grey.house.api/dist
ExecStart=/usr/bin/dotnet /home/ubuntu/grey.house/grey.house.api/dist/grey.house.api.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=greyhouseapi
User=ubuntu
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target